<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title> 
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
        integrity="sha512-vaj3q8rJWu26vL30RydkSk0szIVJpgxMm9pwv52dSDa+1q3/O8rJr/glnvRyVgbMCz+b+ZPbH9uJOWZgV7Nztg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
            <div class="card shadow-lg">
                <div class="card-body">
                <div class="bef_div">
                    <div class="title">
                        <h4 class="card-title text-center mb-4">Log-in</h4>
                    </div>
                    <div id="form_log">
                        <form>
                            <div class="mb-3">
                            <label for="inputText" class="form-label">Usuario</label>
                            <input
                                type="text"
                                class="form-control"
                                id="inputText"
                                placeholder="Enter UserName"
                                required="required"
                            />
                            </div>
                            <div class="mb-3">
                            <label for="inputPassword" class="form-label">Contraseña</label>
                            <input
                                type="password"
                                class="form-control"
                                id="inputPassword"
                                placeholder="Password"
                                required="required"
                            />
                            </div>
                            <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="text-center">
                    <p class="mb-0">¿no tienes una cuenta? <a href="#" id="register">¡Registrate ya!</a></p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </body>
</html>


