h4{
    font-family: 'Times New Roman', Times, serif;
    opacity: 0; /* Inicialmente ocultamos el elemento */
    animation: fade-in 1s forwards;
    color: rgb(115, 90, 66);
    font-size: 100px;
}
@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
#search_button_main{
    color: rgb(115, 90, 66);
    border-color: white;
}
#brand_selec {
    background-color: rgb(115, 90, 66);
    border: black;
    color: white;
    margin-top: -18px; 
  }
  
#name_selec{
    background-color: rgb(115, 90, 66);
    border: black;
    color: white;
}
#logout_button_main{
    background-color: rgb(115, 90, 66);
    border: black;
    color: white;
}
#login_button_main{
    background-color: rgb(115, 90, 66);
    border: black;
    color: white;
}
.btn.btn-primary{
    color:rgb(115, 90, 66);
    border-color: gray;
    background-color: white;
}
.navbar .pagination .page-item .page-link{
    margin: 0 auto;
    border-color: gray;
    color: rgb(115, 90, 66);
}
.btn.btn-primary:hover {
    background-color:rgb(115, 90, 66) ;
    border-color: rgb(115, 90, 66);
    color: white;
}
#search_button_main:hover{
    background-color:rgb(115, 90, 66) ;
    border-color: rgb(115, 90, 66);
    color: white;
}
#brand_selec.active {
    background-color: rgb(115, 90, 66) !important;
    border-color: rgb(115, 90, 66) !important;
    color: white !important;
  }  
#logout_button_main:hover{
    background-color:rgb(115, 90, 66) ;
    border-color: rgb(115, 90, 66);
    color: white;
}
#login_button_main:hover{
    background-color:rgb(115, 90, 66) ;
    border-color: rgb(115, 90, 66);
    color: white;
}
#log_button_main{
    background-color: rgb(115, 90, 66);
    border: black;
    color: white;
}
#log_button_main:hover{
    background-color: white;
    border: black;
    color: rgb(115, 90, 66);
}
#search_button_brand:hover{
    background-color: white;
    border: black;
    color: rgb(115, 90, 66);
}
#inicio_ref{
    color:rgb(115, 90, 66);
}
#inicio_ref:hover{
    color:brown;
}
#navigation_menu{
    position: absolute;
    top: 50%;
    left: 43%;
}
.image_container {
    width: 300px; /* establece el ancho del div */
    height: 200px; /* establece la altura del div */
    position: relative;
}
.image_container img {
  width: 300px; /* establece el ancho del div */
  height: 200px; /* establece la altura del div */
}
.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
#formulario{
    position: absolute;
    top: 8%;
    left: 63%;
}
#texto{
  width: 300px; /* establece el ancho del div */
  height: 200px; /* establece la altura del div */
}
html body {
    background-color: #ab9680;
}
a {
    text-decoration:underline rgb(115, 90, 66);
    color:rgb(137, 107, 73);
}
.card.custom-bg{
    background-color: #c7b69f;
}
.navbar.navbar-expand-lg.navbar-light.custom-bg{
    background-color: #c7b69f;
}
.btn.btn-outline-success.my-2.my-sm-0:focus {
    box-shadow: none;
}
#formulario{
    margin-top: 30px; 
}
