<div class="container my-5">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let us of user">
                <h5>{{us.name}}</h5>
                <p>{{us.username}}</p>
                <p>{{us.last_name}}</p>
                <p>{{us.birthday}}</p>
                <p>{{us.token}}</p>
                <a href="#" class="btn btn-primary">Editar <img src="src/assets/Lapiz.png"></a>
                <a href="#" class="btn btn-primary">Eliminar <img src="src/assets/cross.png"></a>
            </li>
        </ul>
    </div>
</div>
<pagination-buttons></pagination-buttons>