<navmenu></navmenu>
<div class="title">
    <h4>Register</h4>
</div>
<div id="form_reg">
    <form id="formulario-reg" [formGroup]="RegForm" (ngSubmit)="onsubmit()">
                <label for="inputTextR" >Usuario</label>
                <input
                    type="text"
                    class="form-control"
                    id="inputTextR"
                    placeholder="Enter UserName"
                    required="required"
                    formControlName="username"
                />
                <label for="inputPassword" >Contraseña</label>
                <input
                    type="password"
                    class="form-control"
                    id="inputPassword"
                    placeholder="Password"
                    required="required"
                    formControlName="password"
                />
                <label for="inputTextRP" >Nombre</label>
                <input
                    type="text"
                    class="form-control"
                    id="inputTextRP"
                    placeholder="name"
                    required="required"
                    formControlName="name"
                />
                <div>
                <label for="inputTextA" >Apellido</label>
                <input
                    type="text"
                    class="form-control"
                    id="inputTextA"
                    placeholder="last name"
                    required="required"
                    formControlName="lastname"
                />
                <input
                    type="date" id="birthdate" name="birthdate"
                    value="2002-07-22"
                    min="1950-01-01" max="2022-12-31"
                    required="required"
                    formControlName="birthdate"
                />
                  <button type="submit" >Registrar</button>
        </div>
    </form>
</div>

